// Define variables for your color scheme

// For example:
$red: #FD1015;
$orange: #E67E22;
$gray: #3a3434;
$light-gray: #F4F4F4;
$white: #FDFDFD;

$cream: #F2EFEA;
$green: #60993E;
$green-muted: #abcc98;
$yellow: #FE9920;
$yellow-muted: #f7c07d;
$blue: #3AAED8;
$blue-muted: #99c1cf;
$coral: #FF3E41;
$coral-muted: #f77678;
