// Define variables for your color scheme

// For example:
$red: #FD1015;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;

$cream: #F2EFEA;
$green: #60993E;
$yellow: #FE9920;
$blue: #3AAED8;
$coral: #FF3E41;
