#text-banner-area{
  font-size: 1.4em;
  height: auto;
}

.card-area-new h2 {
  font-size: 40px;
  font-family: $headers-font;
  letter-spacing: -2px;
  font-size: 3em;
  //height: 200px;
}

.card-area-new p {
  font-size: 20px;
  font-family: $body-font;
}

.card-area-new {
  justify-content: space-between;
  color: $cream;
  //height: 20em;
  padding: 0.5em 1em;
  vertical-align: middle;
  //box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  //box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-banner{
  color: $cream;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}
.submit-button-container{
  width: 100%;
  height: auto;
}
.submit-button-area{
  border: solid;
  width: 20%;
  height: 100%;
  color: $cream;
  font-family: $logo-font;
  font-size: 3vh;
}
.card .subtle {
  color: #000;
  font-size: 0.5em;
  font-weight: 400;
  letter-spacing: -1px;
}

.bg-blue {
  background: -webkit-linear-gradient(110deg, $blue 60%, #99c1cf 60%);
  background: -o-linear-gradient(110deg, $blue 60%, #99c1cf 60%);
  background: -moz-linear-gradient(110deg, $blue 60%, #99c1cf 60%);
  background: linear-gradient(110deg, $blue 60%, #99c1cf 60%);
}

.bg-green {
  background: -webkit-linear-gradient(20deg, $green 80%, #abcc98 60%);
  background: -o-linear-gradient(20deg, $green 80%, #abcc98 60%);
  background: -moz-linear-gradient(20deg, $green 80%, #abcc98 60%);
  background: linear-gradient(20deg, $green 80%, #abcc98 60%);
}

.bg-yellow {
  background: -webkit-linear-gradient(110deg, #f7c07d 90%, $yellow 60%);
  background: -o-linear-gradient(110deg, #f7c07d 90%, $yellow 60%);
  background: -moz-linear-gradient(110deg, #f7c07d 90%, $yellow 60%);
  background: linear-gradient(110deg, #f7c07d 90%, $yellow 60%);
}

.bg-coral {
  background: -webkit-linear-gradient(50deg, #f77678 60%, $coral 60%);
  background: -o-linear-gradient(50deg, #f77678 60%, $coral 60%);
  background: -moz-linear-gradient(50deg, #f77678 60%, $coral 60%);
  background: linear-gradient(50deg, #f77678 60%, $coral 60%);
}

.card-area-back {
  justify-content: space-between;
  color: $cream;
  height: 5em;
  padding: 0.5em 1em;
  // vertical-align: middle;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  // display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.activity_starts_at {
  margin: 0 20px 0 0;
}

.activity-description-input {
  width: 30em;
  height: 10em;
}

.n-text-input {

  font-size: 1.25em;
  text-align: center;
  border-radius: 10px;
}
// hello
