.activities-index-left {
  width: 50vw;
}

.map-box-vertical {
  width: 50vw;
  // height: 400px;
  // position: relative;
}

.index-container {
  display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.left-container {
  width: 45vw;
  margin: auto;
}
.activity-title{
  color: $blue;
}
