.area-title{
  background-color: $coral;
  align-items: center;
  text-align: center;
  color: $cream;
  padding: 0.6em;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px -10px 20px 20px;
}

.title-text-card-container{
  margin-top: 30px;
}

#area-title-card{
  margin-bottom: 0;
}
.area-title h1{
  margin: 0;
  font-family: $logo-font;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 18px;
  margin-bottom: 30px;
  margin-top: -10px;
}

.cards-activity {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
