<div class="landing-hero-banner">

  <div class="landing-banner-inner">
    <h1>Neighborino</h1>
    <p>Discover your<br>local <strong>community</strong></p>
    <form action="/areas/" method="get">
    <input type="text" name="location" placeholder="enter a location"><br>
    <input type="submit" value="Discover!">
    </form>
  </div>

</div>
