<div class="landing-hero-banner">

  <div class="landing-banner-inner">
    <h1>Neighborino</h1>
    <p>Discover your<br>local <strong>community</strong></p>
    <form action="/areas/" method="get">
    <input type="text" name="location" placeholder="enter a location" class="postcode-input my-2"><br>
    <input type="submit" value="Discover!" class="landing-banner-btn btn btn-primary btn-lg my-3">
    </form>
  </div>

</div>
