  <div id="map-container">
      <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/1.346,48.8595,11.72,0,0/1200x400?access_token=pk.eyJ1Ijoic2FqaWZpbyIsImEiOiJjbDA5amVzcDMwMGw3M2JwdDI0M3ZwbXVmIn0.87lNDe_z7JyUZ-9LyvJn1w'>
  </div>



<div class="content">
  <div class="area-card-container mt-5 container">
    <% @areas.each do |area| %>
     <%= link_to area_path(area) do %>
      <div class="card-area">
      <img src="<%= area_image_url() %>" />
      <div class="card-area-infos">
        <div>
          <h2><%= area.name %></h2>
          <p><%= area.address %></p>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  </div>
</div>
