<div class="content">
  <div id="map-container" class="mt-5">
      <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/1.346,48.8595,11.72,0,0/1200x400?access_token=pk.eyJ1Ijoic2FqaWZpbyIsImEiOiJjbDA5amVzcDMwMGw3M2JwdDI0M3ZwbXVmIn0.87lNDe_z7JyUZ-9LyvJn1w'>
  </div>

  <div class="area-card-container mt-5 container">
    <div class="card-area">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-area-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
      </div>
    </div>

    <div class="card-area">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-area-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
      </div>
    </div>

    <div class="card-area">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-area-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
      </div>
    </div>

    <div class="card-area">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-area-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
      </div>
    </div>

    <div class="card-area">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-area-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
      </div>
    </div>

    <div class="card-area">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-area-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
      </div>
    </div>
  </div>
</div>
