.tabs-underlined {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.inactive {
  opacity: .6;
}

.active {
  color: #3AAED8;
  font-weight: bolder;
  font-size: 22px;
  opacity: 1;
  border-bottom: 3px solid $green;
}
