/*.bg-blue {
  background: -webkit-linear-gradient(110deg, $blue 60%, #99c1cf 60%);
  background: -o-linear-gradient(110deg, $blue 60%, #99c1cf 60%);
  background: -moz-linear-gradient(110deg, $blue 60%, #99c1cf 60%);
  background: linear-gradient(110deg, $blue 60%, #99c1cf 60%);
}

.bg-green {
  background: -webkit-linear-gradient(20deg, $green 80%, #abcc98 60%);
  background: -o-linear-gradient(20deg, $green 80%, #abcc98 60%);
  background: -moz-linear-gradient(20deg, $green 80%, #abcc98 60%);
  background: linear-gradient(20deg, $green 80%, #abcc98 60%);
}

.bg-yellow {
  background: -webkit-linear-gradient(110deg, #f7c07d 90%, $yellow 60%);
  background: -o-linear-gradient(110deg, #f7c07d 90%, $yellow 60%);
  background: -moz-linear-gradient(110deg, #f7c07d 90%, $yellow 60%);
  background: linear-gradient(110deg, #f7c07d 90%, $yellow 60%);
}

.bg-coral {
  background: -webkit-linear-gradient(50deg, #f77678 60%, $coral 60%);
  background: -o-linear-gradient(50deg, #f77678 60%, $coral 60%);
  background: -moz-linear-gradient(50deg, #f77678 60%, $coral 60%);
  background: linear-gradient(50deg, #f77678 60%, $coral 60%);
}*/

.headerino {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 8px;
  width: 100%;
  display: block;
  padding: 0.5rem 1rem;
  margin: 0 0 1em 0;
  line-height: 1.5em;
  font-family: $body-font !important;

  // font-weight: bolder;
}
