.landing-hero-banner {
  height: 100vh;
  //background: #f00;
  //color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-banner-inner {
  background: $yellow;
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.landing-banner-btn{
  margin-top: 10%;
}

.landing-hero-banner h1 {
  font-size: 8rem;
  font-family: $logo-font;
  color: $cream;
  font-weight: 700;
  width: 100%;
}

.landing-hero-banner p {
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
}

.postcode-input{
  font-size: 2rem;
  text-align: center;
}

@keyframes seizure {
  0% { background-color: $coral; }
  33% { background-color:$green; }
  66% { background-color:$blue; }
  100% { background-color:$coral; }
}

.landing-hero-banner strong {
  background: $coral;
  padding: 0.1em 0.3em;
  animation: seizure 0.5s infinite;
  border-radius: 10px;
}

.landing-hero-banner form {
  text-align: center;
}
