.navbar-lewagon {
  justify-content: space-between;
  background: $yellow;
  box-shadow: rgba(0, 0, 0, 0.3) 0px -10px 20px 20px;
  z-index: 666 ;
}

.nav-item li{
  width: 100px;
}

.avatar {
  margin-top: 10px;
}

.navbar-lewagon a {
  color: $gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  align-items: center;
}

.logo-type {
  font-family: $logo-font;
  font-size: 2em;
  line-height: 1em;
  color: white;
  font-weight: bold;
  text-align: center;
}

.logo-phrase {
  font-size: 12px;
  padding-left: 10px;
}

#navbutton {
  text-decoration: none;
  color: $coral;
}

.options-container{
  color: grey;
}

#host-button{
  text-align: center;
  border-radius: 25px;
  padding: 5px;
  margin-right: 10px;
  // transition: transform 0.3s;
  // box-shadow 0.3s ease-in-out;
  border-radius: 5px;
  white-space: nowrap;
  line-height: 50px
}

#host-button:hover{
  background-color: #ff3e4173;
  // transform: scale(1.0009);
  // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#host-button a{
  color: $cream;
}

#my-activities-button {
  text-align: center;
  border-radius: 25px;
  padding: 5px;
  margin-right: 10px;
  // transition: transform 0.3s;
  // box-shadow 0.3s ease-in-out;
  border-radius: 5px;
  white-space: nowrap;
  line-height: 50px
}

#my-activities-button:hover{
  background-color: #ff3e4173;
  // transform: scale(1.0009);
  // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#my-activities-button a{
  color: $cream;
}
